
  /* portfolio section */
  body{ 
    color:#333;
    font-family: 'Noto Sans KR', sans-serif; }

#main {
  overflow-x: hidden;
  overflow-y: auto;
  background-image: url(../images/projects_drmal_back.jpg);
  width: 100%;
  height: 90vh;
  position: relative;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
@media screen and (max-width: 1000px){
  #main {overflow:visible;}
}
#main .leafs_box{
  overflow: hidden;
}
#main .leafs{
  position: absolute;
  top: 0;
  right: 0;

}
#main .leafs img{
  width: 100%;
}
@media screen and (max-width: 1000px){
  #main .leafs{
    right: -66px;
  }
  #main .leafs img{
    width: 70%;
  }
}
@media screen and (max-width: 768px){
  #main .leafs{
    right: -181px;
  }
  #main .leafs img{
    width: 40%;
  }
}
#main .main_box{
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}
@media screen and (max-width: 1000px){
  #main .main_box{
    /* display: flex; */
    flex-direction:column;
    /* flex-wrap: nowrap; */
  }
}
#main .txt_box{
  color: #fff;
  width: 30%;
  margin-top: 200px;
    margin-left: 10%;
    margin-right: 50px;
}
@media screen and (max-width: 1000px){
  #main .txt_box{
    width: 100%;
    margin-top: 100px;
      margin-left: 10%;
  }
}
#main .txt_box .tit_box h2{
  font-family : 'Gmarket';  
  font-style: normal;
  font-weight: 700;
  font-size: 3rem;
  line-height: 1.5em;

}

#main .txt_box .tit_box p{
  font-weight: 700;

  font-family: 'noto';
}
#main .txt_box .txt_bot{
  margin-top: 30px;
}
#main .txt_box .txt_bot img{
  height: 20px;
  margin-right: 5px;
}
#main .txt_box .txt_bot p{
 line-height: 1.7em;
}

#main .btn_a{
  width: 150px;
  margin-top: 15px;
  padding: 7px 15px 10px 15px;
  line-height: 1rem;
  background-color: #9B9B9B;
  color: #fff;
  border-radius: 10px;

}
#main .btn_a:hover{
  background-color: #7ABDFF;
}






#main .cont{
  width: 800px;
  margin-top: 80px;
  margin-right: 140px;
}
@media screen and (max-width: 1300px){
  #main .cont{
    width: 600px;
    margin-top: 120px;
    margin-right: 50px;}
}
@media screen and (max-width: 1000px){
  #main .cont{
    width: 100%;
    
  }
}
#main .cont .mockup{
  position:relative
}
#main .cont .mp4{
  position: absolute;
  width: 95.8%;
  transform: translate(2.5%, 3%);
}

#main .cont video{
  width: 100%;
  z-index: 9;
}

#main .cont .mockup{
  position: relative;
  width: 100%;
}
@media screen and (max-width: 1000px){
  #main .cont .mockup{
    width: 100%;
  }
}
#main .cont .mockup .moniter{
  content: '';
  padding-bottom: 80%;
  /* position: relative; */
  position: absolute;
  top: 13%;
  left: 0;
  width: 100%;
  height: 183%;
  background-image: url(../images/projects_Silver-Desktop-Computer-Mockup.png);
  z-index: 10;

  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

@media screen and (max-width: 1000px){
  #main .cont .mockup .moniter{
    display: none;
  }
}
/* *******************sec info******* */

#info{
  margin: auto 0;
  text-align: center;
}
#info img {
  max-width: 1200px;
  width: 100%;
}
#info .info2 img{
  width: 100%;
}
@media screen and (max-width: 1000px){
  #info{margin-top: 400px;
  }
  #info .info1{margin-top: 500px;
  }
}
@media screen and (max-width: 768px){
  #info{margin-top: 200px;
  }
  #info .info1{margin-top: 200px;
  }
}
#info h2, #info .info2 h2 {
  margin-top: 200px;
  margin-bottom: 100px;
  margin-left: 90px;
  font-family : 'Gmarket';  
  font-style: normal;
  font-weight: 700;
  font-size: 4rem;
  line-height: 1.5em;
  color: #222;
}
@media screen and (max-width: 768px){
  #info h2 {  font-size: 2.5rem;
    margin-left: 50px;

  }
}
