
  /* portfolio section */
  .projects .slide1{
    background-image: url(../images/sec2_back_01.jpg);
   }
   .projects .slide2{
    background-image: url(../images/sec2_back_01.jpg);
    background-color: rgba(255 255 255 0.3);
   }
   .projects .txt_box{
    text-align: left;
    margin-left: 150px;
   }
   .projects .txt_box h2{
    font-weight: 900;
   }
   .projects .txt_box p{
    
    font-weight: 900;
   }
  .projects .cont{
   justify-content: center;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
  }
  .projects .img_box{
    position: relative;
  }
  .projects .moniter img{
    width: 500px;
  }
  .projects .phone{
    position: absolute;
    bottom: 0;
    right: -50px;
  }
  .projects .phone img{
    width: 140px;
  }
    /* .content {
      margin-left: auto;
      margin-right: auto;
      max-width: 800px;
    }
    
    .content-slide {
      margin-left: auto;
      margin-right: auto;
      max-width: 800px;
   
    } */
  
    /* .content-slide img {
      width: 70%;
    } */
    
    .fp-controlArrow.fp-next {
      border-color: transparent transparent transparent #9AC7FF !important;
      right: 45px !important;
    }
    
    .fp-controlArrow.fp-prev {
      border-color: transparent #9AC7FF transparent transparent !important;
      left: 45px !important;
    }
    
    #fp-nav ul li a span,
    .fp-slidesNav ul li a span {
      background: rgba(0, 0, 0, 0.62) !important;
    }
    
    /* contact us styles */
    
    .fa-paper-plane {
      color: #484848;
    }
    
    /* paper plane shake on hover */
    
    .plane-animated {
      animation-duration: 6s;
      animation-fill-mode: both;
      animation-iteration-count: infinite;
      animation-play-state: paused;
    }
    
    .fa-paper-plane:hover {
      /* Toggle our animation play state to running when we are hovering over our sticker */
      animation-play-state: running;
    }
    
    @keyframes shake {
      0%,
      100% {
        transform: translateX(0);
      }
      10%,
      30%,
      50%,
      70%,
      90% {
        transform: translateX(-10px);
      }
      20%,
      40%,
      60%,
      80% {
        transform: translateX(10px);
      }
    }
    .shake {
      animation-name: shake;
    }